<rd-header>
  <rd-header-title title="Application templates list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="templates" ui-sref-opts="{reload: true}">
      <i class="fa fa-refresh" aria-hidden="true"></i>
    </a>
    <i id="loadTemplatesSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px;"></i>
  </rd-header-title>
  <rd-header-content>Templates</rd-header-content>
</rd-header>

<div class="row compact"
     ng-init="nav = { expanded: { compose: true, default: false } }">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <rd-widget>
      <rd-widget-header icon="fa-rocket" title="Application Templates">
        <div class="pull-right">
          <div style="margin-top: -11px; margin-bottom: -11px; margin-right: -30px;"
               class="btn-group btn-group-lg btn-default">
            <a class="btn btn-primary"
               style="border-radius: 0;"
               ng-disabled="!state.selectedTemplate || !formValues.network"
               ng-click="createTemplate()">
              Deploy
              <i id="createContainerSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
            </a>
          </div>
        </div>
      </rd-widget-header>
      <rd-widget-body classes="no-padding">
        <div class="row row-same-height no-padding">

          <div ng-if="catalogs.length"
               class="col-same-height trim-bottom trim-sides side-menu"
               ng-class="{ 'col-sm-2 col-xs-1': catalogs.length }">

            <nav class="navbar navbar-default" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <div class="brand-wrapper">
                  <!-- Hamburger -->
                  <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                  <!-- Brand -->
                  <div class="brand-name-wrapper">
                    <a style="width: 100%"
                       class="navbar-brand"
                       ng-click="nav.expanded.compose = !nav.expanded.compose || state.selectedTemplate">
                      <span>
                        <i class="fa fa-cogs"></i>
                        Current Recipe
                      </span>
                      <div class="pull-right"
                           ng-class="{ 'dropdown': !nav.expanded.compose, 'dropup': nav.expanded.compose }">
                        <span class="caret"></span>
                      </div>
                    </a>
                  </div>

                  <!-- Compose Files and contents -->
                  <div class="panel-collapse"
                       ng-class="{ 'collapse': !nav.expanded.compose }">
                    <div class="panel-body compose-drop-panel drop-target"
                         drop-action="attachTemplate(data)">
                      <div ng-if="!state.currentRecipe.length"
                           class="no-info-big">
                        <em>
                          Drag items here
                        </em>
                      </div>
                      <div ng-if="state.currentRecipe.length">
                        <!-- Nested node template -->
                        <script type="text/ng-template" id="nodes_renderer.html">
                          <div class="drop-target"
                               drop-action="attachTemplate(data)">
                            <div ui-tree-handle>
                              <i class="fa fa-cube"></i>
                              {{ node.title }}
                            </div>
                            <ol ui-tree-nodes=""
                                ng-model="node.nodes">
                              <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                              </li>
                            </ol>
                          </div>
                        </script>
                        <div ui-tree>
                          <ol ui-tree-nodes="" ng-model="state.currentRecipe">
                            <li ng-repeat="node in state.currentRecipe" ui-tree-node
                                ng-include="'nodes_renderer.html'"></li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Default Catalog -->
              <div class="side-menu-container" ng-if="!state.selectedTemplate">
                <ul class="nav navbar-nav" style="width: 100%">

                  <!-- Menu Item -->
                  <li class="panel panel-default dropdown"
                      ng-class="{ 'active': !state.selectedTemplate }">
                    <a data-toggle="collapse"
                       ng-click="nav.expanded.default = !nav.expanded.default"
                       ng-class="{ 'dropdown': !nav.expanded.default, 'dropup': nav.expanded.default }">
                      <span class="fa fa-cubes"></span>
                      Featured Templates <span class="caret"></span>
                    </a>

                    <!-- Catalog Templates -->
                    <div class="panel-collapse"
                         ng-class="{ 'collapse': !nav.expanded.default }">
                      <div class="panel-body">
                        <ul class="nav navbar-nav" style="width: 100%">
                          <li class="drag-item"
                              drag-data="template"
                              ng-repeat="template in templates"
                              ng-class="{ 'active': template.Title === state.selectedTemplate.Title}">
                            <a ng-click="selectTemplate(template.index)">
                              <img class="custom-header-ico pull-left" ng-src="{{ template.Logo }}">
                              {{ template.Title || 'No Title' }}
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </nav>

          </div>
          <div class="col-same-height no-padding trim-bottom trim-sides"
               ng-class="{ 'col-md-10 col-sm-10 col-xs-11': catalogs.length, 'col-md-12 col-sm-12 col-xs-12': !catalogs.length }">

            <div ng-if="!state.selectedTemplate">
              <nav class="navbar navbar-default" style="border-radius: 0; height: 50px;">
                <div>
                  <div class="navbar-header">
                    <a class="navbar-brand">
                      <img class="thumbnail-logo"
                           ng-if="state.selectedTemplate.Logo"
                           ng-src="{{ state.selectedTemplate.Logo }}">
                      Featured Templates
                    </a>
                  </div>
                  <div class="pull-right" style="line-height: 50px; padding-right: 10px">
                    <span>
                      Items per page:
                      <select ng-model="state.pagination_count" ng-change="changePaginationCount()">
                        <option value="0">All</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </span>
                  </div>
                </div>
              </nav>
              <div class="template-list">
                <div id="template_{{ tpl.index }}"
                     ng-click="selectTemplate(tpl.index)"
                     dir-paginate="tpl in templates | itemsPerPage: state.pagination_count"
                     class="container-template hvr-underline-from-center drag-item"
                     drag-data="tpl">
                  <img class="logo" ng-src="{{ tpl.Logo }}"/>
                  <div class="title">{{ tpl.Title }}</div>
                  <div class="description">{{ tpl.Description }}</div>
                </div>
                <div ng-if="!templates" class="no-info-big">
                  Loading...
                </div>
                <div ng-if="templates.length == 0" class="text-center text-muted">
                  No templates available.
                </div>
              </div>
              <div ng-if="templates">
                <dir-pagination-controls></dir-pagination-controls>
              </div>
            </div>

            <div ng-if="state.selectedTemplate">
              <nav class="navbar navbar-default" style="border-radius: 0; height: 50px;">
                <div>
                  <div class="navbar-header">
                    <a class="navbar-brand" ng-click="state.selectedTemplate = null">
                      <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="navbar-brand trim-sides">
                      <img class="custom-header-ico pull-left"
                           ng-if="state.selectedTemplate.Logo"
                           ng-src="{{ state.selectedTemplate.Logo }}">
                      {{ state.selectedTemplate.Title || 'Application Template' }}
                    </a>
                  </div>
                  <div class="pull-right" style="line-height: 50px; padding-right: 10px">
                    <form class="form-inline col-lg-12 col-md-12 col-xs-12 trim-sides">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="btn-group btn-group-md btn-default">
                            <a class="btn btn-default"
                               ng-if="state.showAdvancedOptions"
                               ng-click="addPortBinding()">
                              <i class="fa fa-plus-circle space-right" aria-hidden="true"></i>
                              Add port
                            </a>
                            <a class="btn btn-default"
                               ng-if="state.showAdvancedOptions"
                               ng-click="addVolume()">
                              <i class="fa fa-plus-circle" aria-hidden="true"></i>
                              Map Volume
                            </a>
                            <a class="btn btn-default"
                               ng-if="!state.showAdvancedOptions"
                               ng-click="state.showAdvancedOptions = true;">
                              <i class="fa fa-plus space-right" aria-hidden="true"></i>
                              More options
                            </a>
                            <a class="btn btn-default"
                               ng-if="state.showAdvancedOptions"
                               ng-click="state.showAdvancedOptions = false;">
                              <i class="fa fa-minus space-right" aria-hidden="true"></i>
                              Less options
                            </a>
                            <a class="btn btn-danger"
                               ng-click="state.selectedTemplate = null">
                              <i class="fa fa-trash"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </nav>
              <form class="form-horizontal margin-top">
                <div class="row">
                  <div class="col-md-11">

                    <!-- Basic Info -->
                    <div class="form-group">
                      <label for="field_image" class="col-sm-2 control-label text-left">
                        Docker Image
                      </label>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <input type="text"
                                 id="field_image"
                                 class="form-control"
                                 value="{{ state.selectedTemplate.Image }}"
                                 readonly>
                          <span class="input-group-addon">
                          <div class="dropdown">
                            <span style="cursor: pointer;"
                                  class="dropdown-toggle"
                                  data-toggle="dropdown">
                              <i class="fa fa-tag"></i>
                              <span>{{ state.imageParts.tags || 'latest' }}</span>
                              <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu" style="margin-left: -13px; margin-top: 7px;">
                              <li class="disabled">
                                <a><i class="fa fa-cube"></i> Browse...</a>
                              </li>
                            </ul>
                          </div>
                        </span>
                        </div>
                      </div>
                      <label for="field_network" class="col-sm-1 control-label text-left">
                        Network
                      </label>
                      <div class="col-sm-3">
                        <div class="input-group">
                          <div class="input-group-addon">
                            <div class="dropdown">
                          <span href=""
                                style="cursor: pointer;"
                                class="dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="fa fa-sitemap"></i>
                            <span class="caret"></span>
                          </span>
                              <ul class="dropdown-menu" style="margin-left: -13px; margin-top: 7px;">
                                <li ng-if="!availableNetworks.length"
                                    class="disabled"
                                    ng-disabled="true">
                                  <a ng-disabled="true"><i class="fa fa-question"></i> No networks</a>
                                </li>
                                <li ng-repeat="net in availableNetworks">
                                  <a ng-click="formValues.network = net"><i class="fa fa-sitemap"></i> {{ net.Name
                                    }}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <input id="field_network"
                                 class="form-control"
                                 ng-model="formValues.network.Name"
                                 readonly>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-if="!state.showAdvancedOptions">
                      <label for="field_name" class="col-sm-2 control-label text-left">
                        Instance Binding
                      </label>
                      <div class="col-sm-10">

                        <div class="input-group">
                          <div class="input-group-addon">
                            <div class="dropdown">
                            <span style="cursor: pointer;"
                                  class="dropdown-toggle"
                                  data-toggle="dropdown">
                              <i
                                class="{{ formValues.bindings.length > 1 ? 'fa fa-cubes' : (formValues.bindings.length < 1 ? 'fa fa-cube' : formValues.bindings[0].icon) }}"></i>
                              <span class="caret"></span>
                            </span>
                              <ul class="dropdown-menu" style="margin-left: -13px; margin-top: 7px;">
                                <li>
                                  <a ng-click="clearPortBindings()"><i class="fa fa-cube"></i> Container</a>
                                </li>
                                <li class="divider"></li>
                                <li ng-repeat="binding in bindTypes"
                                    ng-class="{ 'disabled': formValues.bindings.length > 1 }">
                                  <a ng-click="setPortBinding(binding, null)">
                                    <i class="{{ binding.icon }}"></i> {{ binding.label }}
                                  </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                  <a ng-click="state.showAdvancedOptions = true;">
                                    <i class="fa fa-cubes"></i> Advanced
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="input-group-addon" ng-if="formValues.bindings.length === 1">
                            {{ formValues.bindings[0].type !== 'app' ? '/' + formValues.bindings[0].type + '/' : '/' }}
                          </div>
                          <div class="input-group-addon" ng-if="formValues.bindings.length > 1">
                  <span style="cursor: pointer;"
                        ng-click="state.showAdvancedOptions = true;">
                    <i class="fa fa-wrench"></i>
                  </span>
                          </div>
                          <span ng-switch="formValues.bindings.length"
                                uib-tooltip="{{ state.selectedTemplate.Image }}"
                                tooltip-placement="top">
                          <input ng-switch-when="0"
                                 type="text"
                                 id="field_name"
                                 class="form-control"
                                 ng-class="{ 'alert alert-info no-padding' : formValues.name }"
                                 ng-model="formValues.name"
                                 placeholder="(optional)">
                          <input ng-switch-when="1"
                                 id="field_name"
                                 class="form-control"
                                 ng-class="{ 'alert alert-info no-padding' : formValues.bindings[0].name }"
                                 ng-model="formValues.bindings[0].name"
                                 placeholder="{{ state.imageParts.name || 'service-group-name' }}">
                          <input ng-switch-default=""
                                 id="field_name"
                                 class="form-control"
                                 ng-model="state.selectedTemplate.name"
                                 placeholder="Multiple ports mapped"
                                 readonly>
                        </span>
                        </div>

                      </div>
                    </div>

                    <!-- Extended Info -->
                    <div class="form-group" ng-if="state.showAdvancedOptions">
                      <label class="col-sm-2 control-label text-left">
                        Port mappings
                      </label>
                      <div class="col-sm-10 form-inline">

                        <div style="margin-top: 2px;"
                             class="input-group col-sm-4 input-group-sm"
                             ng-if="!state.selectedTemplate.Ports.length">

                          <div style="width: 50px" class="input-group-addon">
                            <div class="dropdown disabled">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-sitemap"></i>
                      <span class="caret"></span>
                    </span>
                            </div>
                          </div>

                          <input type="text"
                                 class="form-control"
                                 placeholder="No port mappings defined yet."
                                 readonly>

                          <div style="width: 34px" class="input-group-addon">
                            <div class="dropdown disabled">
                            <span class="dropdown-toggle"
                                  ng-click="addPortBinding()"
                                  data-toggle="dropdown">
                              <i class="fa fa-plus-circle"></i>
                              Add
                            </span>
                            </div>
                          </div>

                        </div>


                        <div style="margin-top: 2px;"
                             ng-repeat="portBinding in state.selectedTemplate.Ports">

                          <!-- host-port -->
                          <div class="input-group col-sm-4 input-group-sm">
                            <div style="width: 50px"
                                 class="input-group-addon">
                              <div class="dropdown">
                    <span style="cursor: pointer;"
                          class="dropdown-toggle"
                          ng-class="{ 'disabled' : !portBinding.containerPort }"
                          data-toggle="dropdown">
                      <i class="{{ !portBinding.binding ? 'fa fa-sitemap' : portBinding.binding.icon }}"></i>
                      <span class="caret"></span>
                    </span>
                                <ul class="dropdown-menu" style="margin-left: -13px; margin-top: 7px;">
                                  <li>
                                    <a ng-click="setPortBinding(null, portBinding.containerPort)"><i
                                      class="fa fa-sitemap"></i>
                                      Auto assign</a>
                                  </li>
                                  <li class="divider"></li>
                                  <li ng-repeat="binding in bindTypes">
                                    <a ng-click="setPortBinding(binding, portBinding.containerPort)">
                                      <i class="{{ binding.icon }}"></i> {{ binding.label }}
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div style="padding: 0"
                                 class="input-group-addon"
                                 ng-if="portBinding.binding">
                              {{ portBinding.binding.type !== 'app' ? '/' + portBinding.binding.type + '/' : '/' }}
                            </div>
                            <input type="text"
                                   class="form-control"
                                   ng-if="!portBinding.binding"
                                   ng-disabled="!portBinding.containerPort"
                                   ng-class="{ 'alert alert-info no-padding' : portBinding.hostPort }"
                                   ng-focus="portBinding.active = true"
                                   ng-blur="portBinding.active = false"
                                   ng-model="portBinding.hostPort"
                                   placeholder="{{ portBinding.active ? 'e.g. 80 or 1.2.3.4:80' : 'Auto assign port number'}}">
                            <input type="text"
                                   class="form-control"
                                   ng-if="portBinding.binding"
                                   ng-disabled="!portBinding.containerPort"
                                   ng-class="{ 'alert alert-info no-padding' : portBinding.binding.name }"
                                   ng-model="portBinding.binding.name"
                                   ng-change="updateTags()"
                                   placeholder="{{ state.imageParts.name }}">

                          </div>
                          <!-- !host-port -->
                          <span style="margin: 0 10px 0 10px;">
                      <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    </span>
                          <!-- container-port -->
                          <div class="input-group col-sm-4 input-group-sm">
                  <span style="width: 100px"
                        class="input-group-addon"
                        ng-class="{ 'has-error' : !portBinding.containerPort }">
                    container
                  </span>
                            <input type="text" class="form-control" ng-model="portBinding.containerPort"
                                   placeholder="e.g. 80">
                          </div>
                          <!-- !container-port -->
                          <!-- protocol-actions -->
                          <div class="input-group col-sm-3 input-group-sm">
                            <div class="btn-group btn-group-sm">
                              <label class="btn btn-default" ng-model="portBinding.protocol" uib-btn-radio="'tcp'"
                                     ng-click="volume.name = ''">TCP</label>
                              <label class="btn btn-default" ng-model="portBinding.protocol" uib-btn-radio="'udp'"
                                     ng-click="volume.name = ''">UDP</label>
                            </div>
                            <button class="btn btn-sm btn-danger" type="button" ng-click="removePortBinding($index)">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </div>
                          <!-- !protocol-actions -->
                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-if="state.showAdvancedOptions">
                      <label class="col-sm-2 control-label text-left">
                        Volume mappings
                      </label>
                      <div class="col-sm-10 form-inline">

                        <div style="margin-top: 2px;"
                             class="input-group col-sm-4 input-group-sm"
                             ng-if="!state.selectedTemplate.Volumes.length">

                          <div style="width: 50px" class="input-group-addon">
                            <div class="dropdown disabled">
                    <span class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-hdd-o"></i>
                      <span class="caret"></span>
                    </span>
                            </div>
                          </div>

                          <input type="text"
                                 class="form-control"
                                 placeholder="No volume mappings defined yet."
                                 readonly>

                          <div style="width: 34px" class="input-group-addon">
                            <div class="dropdown disabled">
                    <span class="dropdown-toggle"
                          ng-click="addVolume()"
                          data-toggle="dropdown">
                      <i class="fa fa-plus-circle"></i>
                      Add
                    </span>
                            </div>
                          </div>

                        </div>

                        <div style="margin-top: 2px;"
                             ng-repeat="volume in state.selectedTemplate.Volumes">

                <span ng-switch="volume.type">
                  <div ng-switch-default class="input-group input-group-sm col-sm-4">
                    <div style="width: 50px" class="input-group-addon">
                      <div class="dropdown disabled">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-hdd-o"></i>
                          <span class="caret"></span>
                        </span>
                      </div>
                    </div>
                    <span class="input-group-addon" style="width: 66px;">auto</span>
                    <input type="text" class="form-control" ng-model="volume.name"
                           placeholder="Auto assign on host file system" readonly>
                  </div>
                  <div ng-switch-when="bind" class="input-group input-group-sm col-sm-4">
                    <div style="width: 50px" class="input-group-addon">
                      <div class="dropdown disabled">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-hdd-o"></i>
                          <span class="caret"></span>
                        </span>
                      </div>
                    </div>
                    <span class="input-group-addon" style="width: 66px;">host</span>
                    <input type="text" class="form-control" ng-model="volume.name" placeholder="e.g. /path/on/host">
                    <label style="width: 24px;"
                           class="btn btn-sm input-group-addon"
                           ng-class="{ 'btn-primary': volume.readOnly, 'btn-default': !volume.readOnly }"
                           ng-model="volume.readOnly"
                           uib-btn-radio="true">
                          <i class="fa fa-lock" aria-hidden="true"></i>
                      </label>
                      <label style="width: 24px;"
                             class="btn btn-sm btn-default input-group-addon"
                             ng-class="{ 'btn-default': volume.readOnly, 'btn-primary': !volume.readOnly }"
                             ng-model="volume.readOnly"
                             uib-btn-radio="false">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                      </label>
                  </div>
                  <div ng-switch-when="volume" class="input-group input-group-sm col-sm-4">
                    <div style="width: 50px" class="input-group-addon">
                      <div class="dropdown disabled">
                        <span class="dropdown-toggle" data-toggle="dropdown">
                          <i class="fa fa-hdd-o"></i>
                          <span class="caret"></span>
                        </span>
                      </div>
                    </div>
                    <span class="input-group-addon" style="width: 66px;">volume</span>
                    <select class="form-control" ng-model="volume.name">
                      <option selected disabled hidden value="">Select a volume</option>
                      <option ng-repeat="vol in availableVolumes" ng-value="vol.Name">{{ vol.Name|truncate:30}}
                      </option>
                    </select>
                    <label style="width: 24px;"
                           class="btn btn-sm input-group-addon"
                           ng-class="{ 'btn-primary': volume.readOnly, 'btn-default': !volume.readOnly }"
                           ng-model="volume.readOnly"
                           uib-btn-radio="true">
                          <i class="fa fa-lock" aria-hidden="true"></i>
                      </label>
                      <label style="width: 24px;"
                             class="btn btn-sm btn-default input-group-addon"
                             ng-class="{ 'btn-default': volume.readOnly, 'btn-primary': !volume.readOnly }"
                             ng-model="volume.readOnly"
                             uib-btn-radio="false">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                      </label>
                  </div>
                </span>

                          <span style="margin: 0 10px 0 10px;">
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                </span>

                          <div class="input-group col-sm-4 input-group-sm">
                  <span class="input-group-addon"
                        style="width: 100px">
                    container
                  </span>
                            <input type="text"
                                   class="form-control"
                                   ng-model="volume.containerPath"
                                   placeholder="e.g. /path/in/container">
                          </div>

                          <div class="input-group col-sm-3 input-group-sm">
                            <div class="btn-group btn-group-sm">
                              <label class="btn btn-primary" ng-model="volume.type" uib-btn-radio="'auto'"
                                     ng-click="volume.name = ''">Auto</label>
                              <label class="btn btn-primary" ng-model="volume.type" uib-btn-radio="'volume'"
                                     ng-click="volume.name = ''">Volume</label>
                              <label class="btn btn-primary" ng-model="volume.type" uib-btn-radio="'bind'"
                                     ng-click="volume.name = ''">Bind</label>
                            </div>
                            <button class="btn btn-sm btn-danger" type="button" ng-click="removeVolume($index)">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="form-group" ng-if="state.showAdvancedOptions">
                      <label for="field_tags" class="col-sm-2 control-label text-left">
                        Component Tags
                      </label>
                      <div class="col-sm-10">
                      <textarea rows="3"
                                type="text"
                                id="field_tags"
                                class="form-control"
                                ng-model="state.selectedTemplate.tags">
                      </textarea>
                      </div>
                    </div>

                    <!-- Environment Variable -->
                    <div class="form-group"
                         ng-repeat="var in state.selectedTemplate.Env"
                         ng-if="!var.set && ['SERVICE_NAME', 'SERVICE_TAGS'].indexOf(var.name) < 0">
                      <label for="field_{{ $index }}" class="col-sm-2 control-label text-left">{{ var.label }}</label>
                      <div class="col-sm-10">
                        <select
                          ng-if="applicationState.endpoint.mode.provider !== 'DOCKER_SWARM' && var.type === 'container'"
                          ng-options="container|containername for container in runningContainers" class="form-control"
                          ng-model="var.value">
                          <option selected disabled hidden value="">Select a container</option>
                        </select>
                        <select
                          ng-if="applicationState.endpoint.mode.provider === 'DOCKER_SWARM' && var.type === 'container'"
                          ng-options="container|swarmcontainername for container in runningContainers"
                          class="form-control"
                          ng-model="var.value">
                          <option selected disabled hidden value="">Select a container</option>
                        </select>
                        <input ng-if="!var.type || !var.type === 'container'" type="text" class="form-control"
                               ng-model="var.value" id="field_{{ $index }}">
                      </div>
                    </div>

                  </div>
                  <div class="col-md-1 center">
                    <img class="thumbnail-logo" ng-src="{{ state.selectedTemplate.Logo }}">
                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>
