
#sidebar-wrapper {
  background: #2e3c42;
}

ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a {
  background: #37474f;
}

.no-info-big {
  color: silver;
  font-size: 18px;
  text-align: center;
  margin: 64px auto;
}

.compact .table {
  margin-bottom: 3px !important;
}

.compact .row > div {
  margin-bottom: 3px !important;
}

.compact .widget-header {
  line-height: 24px;
}

.col-same-height {
  display: table-cell;
  float: none !important;
}

.row-same-height {
  display: table;
  width: 100%;
}

.margin-top {
  margin-top: 16px;
}

.trim-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.trim-sides {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.gray-background {
  background-color: #f3f3f3;
}

.compose-drop-panel {
  position: relative;
  min-height: 280px;
}

.compose-drop-panel:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.05;
  pointer-events: none;
  background-image: url('https://raw.githubusercontent.com/theodorosploumis/docker-presentation/gh-pages/img/docker_compose.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}

.custom-header-ico {
  max-width: 24px;
  max-height: 24px;
  margin-right: 10px;
}

.thumbnail-logo {
  max-width: 128px;
  max-height: 128px;
  margin: 16px auto;
}

/* --- Drag and Drop  --- */

*[draggable=true] {
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}

.drop-target.over {
  outline: dashed 1px #646464;
  box-shadow: 0 0 3px 0 #0094ff;
}

.drag-item {
  cursor: move;
}

/* --- Tree --- */

.angular-ui-tree {
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-handle {
  margin: 0;
  padding: 3px 6px;
  color: #555555;
}

.angular-ui-tree-handle:hover {
  color: #000000;
  background: rgba(133, 133, 133, 0.15);
  outline: 1px solid rgba(152, 152, 152, 0.5);
}

.angular-ui-tree-placeholder {
  margin: 0;
  padding: 3px 6px;
  outline: 1px dotted #d0e6ff;
  background: #f0f9ff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}