@import 'sidebar.css';

#sidebar-wrapper {
  background: #2e3c42;
}

ul.sidebar .sidebar-title.separator, .sidebar-footer, ul.sidebar .sidebar-list a:hover, ul.sidebar .sidebar-main a {
  background: #37474f;
}

.no-info-big {
  color: silver;
  font-size: 18px;
  text-align: center;
  margin: 64px auto;
}

.compact .table {
  margin-bottom: 3px !important;
}

.compact .row > div {
  margin-bottom: 3px !important;
}

.compact .widget-header {
  line-height: 24px;
}

.col-same-height {
  display: table-cell;
  float: none !important;
}

.row-same-height {
  display: table;
  width: 100%;
}

.margin-top {
  margin-top: 16px;
}

.trim-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.trim-sides {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.gray-background {
  background-color: #f3f3f3;
}

.compose-drop-panel {
  position: relative;
  min-height: 280px;
}

.compose-drop-panel:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.05;
  background-image: url('https://raw.githubusercontent.com/theodorosploumis/docker-presentation/gh-pages/img/docker_compose.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}
